<%= button("Add Assignment", to: "/new", method: "get", class: "btn btn-primary float-right mt-2 mr-2") %>
<h1 class="mb-4 ml-2">My Assignments</h1>

<div class="row no-gutters">
  
  <%= for column <- columns() do %>
    <%= render "assignments_column.html", column: column, conn: @conn %>
  <% end %>

</div>

