<div class="col-sm-4">
  <%= tag(:div, class: "card text-white bg-" <> get_background(@column) <> " mb-3 mx-2") %>
    <div class="card-header"><%= get_header(@column) %></div>
      <div class="card-body">
      <%= for assignment <- assignment_list() do %>
        <%= render "assignment.html", assignment: assignment, conn: @conn %>
      <% end %>
    </div>
  </div>
</div>
