<!-- <p>This is an assignment</p> -->
<!-- <p> <%= inspect @assignment %> </p> -->
<p>Title: <%= getTitle(@assignment) %>, Description: <%= getDescription(@assignment) %>, Priority: <%= getPriority(@assignment) %></p>
