<%= button("Add Assignment", to: "/new", method: "get", class: "btn btn-primary float-right") %>
<h1>My Assignments</h1>

<div class="row no-gutters">
  
  <%= for column <- columns() do %>
    <%= render "assignments_column.html", column: column %>
  <% end %>

</div>

