<%= form_for @changeset, new_assignment_path(@conn, :create), fn f -> %>
  <label>
    Title: <%= text_input f, :title %>
  </label>

  <label>
    Priority: <%= select f, :priority, 1..10 %>
  </label>

  <%= submit "Submit" %>
<% end %>
