<h1>Create new assignments</h1>

<%= form_for @changeset, new_assignment_path(@conn, :index), fn f -> %>
  <label>
    Title: <%= text_input f, :title %>
  </label>

  <label>
    Description: <%= textarea f, :description %>
  </label>

  <label>
    Priority: <%= select f, :priority, 0..10 %>
  </label>

  <%= hidden_input f, :id %>

  <%= submit "Save" %>
<% end %>

<%= button("Assignment List", to: "/list", method: "get", class: "btn btn-success") %>
